@import '../stylesheets/variables.scss';

// BODY DEFAULTS
body {
    font-family: "Open Sans", "Helvetica Neue", helvetica, tahoma, arial, verdana, sans-serif;
    background-color: $gray-lightest;
}

// HEADER
.header {
    padding: $spacer;
    color: white;
    background: linear-gradient(64deg,#1fbafe,#074774);
    background-size: 400% 400%;
    animation: moving-gradient 6s ease infinite;
}

.header__wrapper {
    max-width: 45rem;
    padding: 0 $spacer;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header__logo {
    height: $spacer * 2;
}

.header__text {
    font-size: $spacer;
    margin: $half-spacer 0;
    text-transform: uppercase;
    letter-spacing: 2.4px;

}

@keyframes moving-gradient {
    0%,
    100% {
        background-position: 0 18%;
    }

    50% {
        background-position: 100% 83%;
    }
}

@media all and (min-width: 34em) {
    .header__logo {
        height: $spacer * 3;
    }
}
